*{
    padding: 0;
    margin: 0;
}
body{
    
    background-color:#ebe0b3;
}
h3 h4, h5,h6 {display:inline-block;}
.cuartofrio{ background-color: rgb(177, 177, 173);width: 150px; height: 470px;position: relative; }
.gondola1{position: relative;background-color: midnightblue; width: 490px; height: 95px;left: 390px; bottom: 390px;}
.gondola2{position: relative;background-color: orangered;width: 151px; height: 60px;left: 390px; bottom: 390px;}
.gondola3{position: relative;background-color: powderblue;width: 305px; height: 90px;left: 390px; bottom: 420px;}
.salchikoxka{ position: relative; background-color: crimson;width: 150px; height: 33px; left: 390px; bottom: 870px;}
.snack{position: relative; background-color: darkgoldenrod;width: 150px;height: 45;left: 650px; bottom: 900px;}
.paletero{position: relative; background-color: gold; width: 160px; height:50;left: 900px; bottom: 930px;}
.dulcescaja{position: relative;background-color: black; width: 150px; height: 130px; left: 910px; bottom: 580px;}
input[type="button"]{width: 150px; height: 30px; font-size: auto;}

